<div id="sumreqFeed" class="hideonload">
<% @group.sumreq_feed.each do |paper| %>
	<div class="search_results">
		<div class="feedInfo inline"> <%= pluralize(paper[1], "Request") %>:</div> <div class = "grey inline"> <%= paper[2].map{|s| s[1].to_s + " for " + s[0]} * ", " %> </div>
		<%= render 'papers/list', :paper => paper[0], :authors => paper[0].authors %>
	</div>
<% end %>
</div>
