$('.flash').hide();
$('.dropdown').removeClass('open');
$("<div class='flash notice'>Paper saved in <%= @folder.name %> folder.</div>").insertAfter('header');
$('.flash').delay('5000').fadeOut('slow');
