<% if !@assertions.empty? %>
	<h4>Alternate Summaries</h4>
<% end %>
<% @assertions.each do |assertion| %>
<div class="assertion_list">
    <div class="vote">
      <%= render '/votes/vote_form', :candidate => assertion %>
    </div>
      <div class="latest_assertion"><%= assertion.text %></div> 
      <p class="method"><%= assertion.method_text %></p>
      <%= render 'shared/user_info', :user => assertion.user, :date => assertion.created_at, :anonymous => assertion.anonymous %>
<br>
</div>
<% end %>
