<div class='share_button_top inline'>
<div class = 'share_button_text clickme inline paperNav'>Share <i class="icon-share"></i></div>
<div class = 'share_button_form hideonload lightbox round share_form'>
 <%= render '/shares/share_form', :item => @paper %>
</div>
</div>
