$('<%= @item.jquery_target %>').find('div.share_form').hide();
$('<%= @item.jquery_target %>').find('div.share_confirmation').show();


$('div.share_button_top').find('div.share_form').hide();
$('div.share_button_top').find('div.share_confirmation').show();
$('div.share_button_top').removeClass('clickme');

$('<%= "#list_share_" + @paper.id.to_s %>').html('<h3>Shared!</h3>'); 
