$("<div class = 'share_button_form hideonload lightbox round share_form'><%= escape_javascript(render 'shares/share_form', :item => @paper, :groups => @groups)%></div>").insertAfter('<%= '#shares_new_' + @paper.id.to_s %>');
$('div.overlay').show('');
$('<%= '#shares_new_' + @paper.id.to_s %>').next().show();


