container {
  width: 710px;
}

body {
  background: #fff;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  font-size: 120%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

style {
display: inline;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Signup Button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  padding: 20px;
}

/* Homepage Search */

form.homepage_search {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 400px;
  color: #fff;
  background: #005;
  font-size: 150%;
  padding: 20px;
}


.homepage_search input[type = "text"] {
  width: 300px;
  height: 80px;
  font-size: 150%;
  text-indent: 10px;
  padding: 15px;
}

.homepage_search input[type = "submit"] {
}

/* Signup/signin */

.signin td {
  vertical-align: top;
}

/* Search Results */

div.search_results {
  display: block;
  margin-bottom: 20px;
}

div.sr_title {
  font-size: 110%;
  font-style: bold;
}

div.sr_info {
  font-size: 90%;
  color: #595959;
}
  

/* Abstract */

.hideonload {
display: none;
}

/* Heat Map */

.heat0 {
  color: #fff;
  background: #b5b5b5;
}

.heat1 {
  color: #fff;
  background: #a3a3b5;
}

.heat2 {
  color: #fff;
  background: #9191b5;
}

.heat3 {
  color: #fff;
  background: #7f7fb5;
}

.heat4 {
  color: #fff;
  background: #6d6db5;
}

.heat5 {
  color: #fff;
  background: #5b5bb5;
}

.heat6 {
  color: #fff;
  background: #4848b5;
}

.heat7 {
  color: #fff;
  background: #3636b5;
}

.heat8 {
  color: #fff;
  background: #2424b5;
}

.heat9 {
  color: #fff;
  background: #1212b5;
}

.heat10 {
  color: #fff;
  background: #0000b5;
}
/* Fig Summary */


style.assertion {
   text-align: right;
   margin-right: auto;
   padding-right: 20px;
   display: block;
   font-weight: bold;
   padding-top: 30px;
   padding-bottom: 30px;
   position:relative;
}

tbody tr.summary td {
   background: #fff;
}

td.sumleft {
   width:160px;
   font-size: 115%;
}

td.sumright {
  width: 100%;
  font-size: 115%;
  font-weight: bold;
}

style.method {
  font-weight: normal;
  font-style: italic;
  font-size: 90%;
}

td.sumright nav {
   float: left;
   font-size: 80%;
}

style.core {
   width: 150px;
}

style.fig  {
   margin-left: 20px;
   width: 130px;
}

style.figsection {
   margin-left: 40px;
   width: 110px;
}

.little {
   font-size: 80%;
}

/* Assertion form */

td.sumright input[ type = "text" ] {
  width: 400px;
  font-size: 115%;
}
div.field {
  font-weight: normal;
}

/* Comments */

table.comment {
   background: #fff;
   border: 1px;
   padding: 10px;
}

table.comment td {
   background: #fff;
   padding-bottom: 30px;
   vertical-align: top;
}

.comment div.user_info {
  background: #d8e4f9;
  margin-left: 0px;
  padding: 10px; 
  padding-left: 20px;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-color: #699bf9;
  -moz-border-top-right-radius:    10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius:         10px;
  -moz-border-top-left-radius:    10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius:         10px;
}

div.comment_body {
   display: block;
   padding: 10px;
   border: solid;
   border-color: #699bf9;
   background: #fff;
  -moz-border-bottom-right-radius:    10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius:         10px;
  -moz-border-bottom-left-radius:    10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius:         10px;
}

table.discussion nav {
   float: none;
   text-align: left;
   font-size: 80%;
   background: none;
}

div.commentbox {
   float: left;
   width: 50%;
}

/* Replies */

td.reply {
 padding-left: 80px;
 padding-top: 0px;
}

td.reply div.user_info {
  background: #d8e4f9; 
  padding-left: 20px;
  border-top: 0px;
  border-left: solid;
  border-right: solid;
  border-color: #699bf9;
  -moz-border-top-right-radius:    0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius:         0px;
  -moz-border-top-left-radius:    0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius:         0px;
  }

td.has_reply div {
  -moz-border-bottom-right-radius:    0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius:         0px;
}

tbody td.has_reply {
  padding-bottom: 0px;
}

td.more_replies div {
  -moz-border-bottom-right-radius:    0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius:         0px;
  -moz-border-bottom-left-radius:    0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius:         0px;
}

tbody td.more_replies {
  padding-bottom: 0px;
}


/* Questions */

div.questionbox {
   float: right;
   width: 50%;
}

.question div.user_info {
  background: #fff;
  margin-left: 0px;
  padding: 10px; 
  padding-left: 20px;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-color: #699bf9;
  -moz-border-top-right-radius:    10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius:         10px;
  -moz-border-top-left-radius:    10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius:         10px;
}

div.question_body {
   background: #d8e4f9;
   display: block;
   padding: 10px;
   border: solid;
   border-color: #699bf9;
  -moz-border-bottom-right-radius:    10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius:         10px;
  -moz-border-bottom-left-radius:    10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius:         10px;

}

/* Qcomments */

div.qcomment {
   text-align: right;
   color: #595959;
   font-size: 80%;
   font-style: italic;
   border-top: solid;
   border-top-width: 1px;
   border-color: #595959;

}

/* Answers */

td.answer {
 padding-left: 80px;
 padding-top: 0px;
}

td.answer div.user_info {
  background: #fff; 
  padding-left: 20px;
  border-top: 0px;
  border-left: solid;
  border-right: solid;
  border-color: #699bf9;
  -moz-border-top-right-radius:    0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius:         0px;
  -moz-border-top-left-radius:    0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius:         0px;
  }

td.has_answer div {
  -moz-border-bottom-right-radius:    0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius:         0px;
}

tbody td.has_answer {
  padding-bottom: 0px;
}

td.more_answers div {
  -moz-border-bottom-right-radius:    0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius:         0px;
  -moz-border-bottom-left-radius:    0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius:         0px;
}

tbody td.more_answers {
  padding-bottom: 0px;
}


/* Votes */

div.vote {
float: right;
padding-left: 15px;
} 


input#vote_submit  {
	font-size: 1em;
	text-align: left;
        color: #09c;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}
/* Tables */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

/*Profile Image */

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Forms */

div.field, div.actions {
  margin-bottom: 10px;
}

/* Errors */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* User Index */

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/*Microposts*/
h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info {
  margin-left: 20px;
}

div.user_info img {
  padding-right: 0.7em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}
