
/* Misc Functions */

.hideonload {
display: none;
}

.clickme {
   cursor: pointer;
}

.floatright {
   float:right;
}

.pad10 {
   padding: 10px;
}

.margin10 {
   margin: 10px;
}

.drop-shadow {
   position:relative;
   width:90%;
}

.tinytext {
  font-size: 80%;
}

.drop-shadow:before,
.drop-shadow:after {
   content:"";
   position:absolute;
   z-index:-1;
   bottom:15px;
   left:10px;
   width:50%;
   height:20%;
   max-width:300px;
   -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -webkit-transform:rotate(-3deg);
   -moz-transform:rotate(-3deg);
   -o-transform:rotate(-3deg);
   transform:rotate(-3deg);
}

.drop-shadow:after{
   right:10px;
   left:auto;
   -webkit-transform:rotate(3deg);
   -moz-transform:rotate(3deg);
   -o-transform:rotate(3deg);
   transform:rotate(3deg);
 }

/* Overall */

container {
  width: 710px;
}

body {
  background: #fff;
}

header {
  display: block;
  background-color: #bbdddd;
  border-bottom: solid;
  padding-bottom: 10px;
  border-width: 1px;
  border-color: #223322;
  margin-bottom: 10px;
}


section {
  font-size: 120%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

style {
display: inline;
}

.bigbox {
  font-size: 120%;
  text-align: center;
  padding: 20px;
  margin: 20px;
  clear: both;
  display: block;
  background: #22bbcc;
}

.subbox {
  padding: 20px;
  margin: 20px;
  clear: both;
  display: block;
  background:  #bbdddd;
}

.boxsubmessage {
  font-size: 20px;
  color: #223322;
  font-style: italic;
  font-weight: 1em;
} 


/* Links */

a {
  color: #119966;       
  text-decoration: none;
}

a:hover {
  color: #223322;
  text-decoration: none;
}

a:visited {
  color: #223322;
}

/* Navigation */

nav {
  float: right;
}

nav {

  padding: 0 0.7em;
  margin-top: 5px;
  margin-right: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
/*  color: #09c; */
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Flash */

div.flash {

 clear: both;

}

/* Homepage Search */

form.homepage_search {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 610px;
  color: #000;
  background: #bbdddd;
  font-size: 100%;
  padding: 10px;
}

img#mainlogo {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}

img#small_logo {
  display: inline;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
}

form.topsearch {
   display: block;
   float: right;
   margin-top: 10px;
   
}

form.topsearch input[type = "text"] {
   width: 300px;
}

.homepage_search input[type = "text"] {
  width: 590px;
  font-size: 100%;
  text-indent: 2px;
  padding: 5px;
}

.homepage_search input[type = "submit"] {
}

/* Feed */

.feed {
  border: solid;
  border-width: 3px;
  border-color: #00ccaa;
  margin: 20px;
  margin-top: 60px;
  padding: 20px;
}

.feeditem {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border: solid;
  border-width: 1px;
  border-color: #000;
}

.feedquote {
  font-style: italic;
  font-weight: normal;
}
 

/* Signup/signin */

.signin td {
  vertical-align: top;
}

/* Search Results */

div.search_results {
  display: block;
  margin-bottom: 20px;
}

div.sr_title {
  font-size: 110%;
  font-style: bold;
}

div.sr_info {
  font-size: 90%;
  color: #595959;
}
  

/* Paper info */

.paperinfo {
  float:left;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  width: 800px;
}

.visits{
  float:right;
  width: 100px;
  background: #bbdddd;
  text-align: right;
}

/* Heat Map */

.heat0 {
  color: #fff;
  background: #b5b5b5;
}

.heat1 {
  color: #fff;
  background: #a3a3b5;
}

.heat2 {
  color: #fff;
  background: #9191b5;
}

.heat3 {
  color: #fff;
  background: #7f7fb5;
}

.heat4 {
  color: #fff;
  background: #6d6db5;
}

.heat5 {
  color: #fff;
  background: #5b5bb5;
}

.heat6 {
  color: #fff;
  background: #4848b5;
}

.heat7 {
  color: #fff;
  background: #3636b5;
}

.heat8 {
  color: #fff;
  background: #2424b5;
}

.heat9 {
  color: #fff;
  background: #1212b5;
}

.heat10 {
  color: #fff;
  background: #0000b5;
}

/* Fig Summary */

tr.summary {
   clear: both;
}

td.sumleft {
   vertical-align: top;
   font-weight: bold;
   width:130px;
   font-size: 115%;
   padding-right: 20px;
   padding-top: 30px;
   padding-bottom: 30px;
   height: auto;
}

td.sumleft h5 {
   display: block;
   width:160px;
   color: #fff; 
}
td.sumright {
  font-size: 115%;
  font-weight: bold;
  padding-left: 20px;
}

form.enter_assertion input[type = "submit"] {
	font-size: 1.1em;
        color: #196;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}


style.method {
  font-weight: normal;
  font-style: italic;
  font-size: 90%;
}

div.alt_approach {
  font-size: 75%;
}


td.sumright nav {
   float: none;
   text-align: left;
   font-size: 80%;
   color: #09c;
   font-weight: bold;

}

td.sumright nav li {
   margin: 10px;
   cursor: pointer;
}

td.sumright nav input {
   font-weight: bold;
   text-align: left;
   color: #09c;
   background: none;
   margin: 0;
   padding: 0;
   border: none;
   cursor: pointer;
}

td.core {
   padding-left: 10px;
   width: 150px;
}

td.fig  {
   padding-left: 30px;
   width: 130px;
}

td.figsection {
   padding-left: 50px;
}

.little {
   font-size: 80%;
}

img.figthumnail {
  height: 100px;
  width: 100px;
}

/* Assertion form */

td.sumright input[ type = "text" ] {
  width: 600px;
  font-size: 100%;
}


div.field {
  font-weight: normal;
}

form#new_assertion {

padding: 10px;

}
/* Build figs and sections */

div.add_figs_and_sections {
   color: #fff;
   text-align: right;
   font-size: 14px;
   cursor: pointer; 
}

div.numselect {
   font-size: 14px;
   text-align: center;
   cursor: auto;   
}


div.fig_numselect {
   display: inline;
   font-size: 24px;
   padding: 2px;
   margin:3px;
}

div.figsection_numselect {
   display: block; 
   margin-top: 5px;

}


/* Fig section toggle */

div.figtoggle {
  font-size: 14px;
  cursor: pointer;
  float: right;
}


/* Improve Assertion */

div.improve input[ type = "text" ] {
  width: 600px;
  font-size: 80%;
}

div.improve div.numfigs {
  display: none;
}

div.improvelist {
  width: 600px;
  font-size: 80%;
  border: solid;
  border-width: 1px;
  border-color: #000;
  margin-left:10px;

  -moz-border-top-right-radius:    10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius:         10px;
  -moz-border-top-left-radius:    10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius:         10px;
  -moz-border-bottom-right-radius:    10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius:         10px;
  -moz-border-bottom-left-radius:    10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius:         10px;
  padding: 10px;
  font-weight: normal;
  margin-bottom: 10px;
}

div.improvelist img.gravatar {
  display: none;
}

div.improvelist div.user_info {
 display: inline;
}


/* Comments */

table.comment {
   background: #fff;
   border: 1px;
   padding: 10px;
   margin-bottom: 0px;
}

table.comment td {
   background: #fff;
   padding-bottom: 30px;
   vertical-align: top;
}

.comment div.user_info {
  background: #d8e4f9;
  margin-left: 0px;
  padding: 10px; 
  padding-left: 20px;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-color: #699bf9;
  -moz-border-top-right-radius:    10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius:         10px;
  -moz-border-top-left-radius:    10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius:         10px;
}

div.comment_body {
   display: block;
   padding: 10px;
   border: solid;
   border-color: #699bf9;
   background: #fff;
  -moz-border-bottom-right-radius:    10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius:         10px;
  -moz-border-bottom-left-radius:    10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius:         10px;
}

table.discussion nav {
   float: none;
   text-align: left;
   font-size: 80%;
   background: none;
}

div.commentbox {
   float: left;
   width: 100%;
   margin-top: 30px;
}

/* Replies */

td.reply {
 padding-left: 80px;
 padding-top: 0px;
}

td.reply div.user_info {
  background: #d8e4f9; 
  padding-left: 20px;
  border-top: 0px;
  border-left: solid;
  border-right: solid;
  border-color: #699bf9;
  -moz-border-top-right-radius:    0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius:         0px;
  -moz-border-top-left-radius:    0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius:         0px;
  }

td.has_reply div {
  -moz-border-bottom-right-radius:    0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius:         0px;
}

tbody td.has_reply {
  padding-bottom: 0px;
}

td.more_replies div {
  -moz-border-bottom-right-radius:    0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius:         0px;
  -moz-border-bottom-left-radius:    0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius:         0px;
}

tbody td.more_replies {
  padding-bottom: 0px;
}


/* Questions */

div.questionbox {
   width: 100%;
   margin-top: 30px;
}

div.questionbox textarea, div.commentbox textarea {
   height: 100px;
}


.question div.user_info {
  background: #fff;
  margin-left: 0px;
  padding: 10px; 
  padding-left: 20px;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-color: #699bf9;
  -moz-border-top-right-radius:    10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius:         10px;
  -moz-border-top-left-radius:    10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius:         10px;
}

div.question_body {
   background: #d8e4f9;
   display: block;
   padding: 10px;
   border: solid;
   border-color: #699bf9;
  -moz-border-bottom-right-radius:    10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius:         10px;
  -moz-border-bottom-left-radius:    10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius:         10px;

}

/* Qcomments */

div.qcomment {
   text-align: right;
   color: #595959;
   font-size: 80%;
   font-style: italic;
   border-top: solid;
   border-top-width: 1px;
   border-color: #595959;

}

/* Answers */

td.answer {
 padding-left: 80px;
 padding-top: 0px;
}

td.answer div.user_info {
  background: #fff; 
  padding-left: 20px;
  border-top: 0px;
  border-left: solid;
  border-right: solid;
  border-color: #699bf9;
  -moz-border-top-right-radius:    0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius:         0px;
  -moz-border-top-left-radius:    0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius:         0px;
  }

td.has_answer div {
  -moz-border-bottom-right-radius:    0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius:         0px;
}

tbody td.has_answer {
  padding-bottom: 0px;
}

td.more_answers div {
  -moz-border-bottom-right-radius:    0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius:         0px;
  -moz-border-bottom-left-radius:    0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius:         0px;
}

tbody td.more_answers {
  padding-bottom: 0px;
}


/* Votes */

div.vote {
float: right;
padding-left: 15px;
} 


input#vote_submit  {
	font-size: 1em;
	text-align: left;
        color: #09c;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}
/* Tables */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

/*Profile Image */

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Round corners */

.round {
  -moz-border-radius:    8px;
  -webkit-border-radius: 8px;
  border-radius:         8px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Forms */

div.field, div.actions {
  margin-bottom: 10px;
}

/* User Class Selection */

td.groupselect {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

/* Errors */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* User Index */

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/*Microposts*/
h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info {
  margin-left: 20px;
}

div.user_info img {
  padding-right: 0.7em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}

/* Class Options */

div#instructor_options {
  float: right;
  display: block;
  color: #fff;
  background: #223322;
  padding: 5px;
  margin: 10px;
  text-align: right;
  font-weight: bold;
}

div.class_options {
  float: right;
  display: block;
  color: #fff;
  background: #223322;
  padding: 10px;
  margin: 10px;
  text-align: right;
  font-weight: bold;
}

div.class_options label{
  font-weight: normal;
}


/* Class Page */

div.classpaper {
  display: block;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 45px;
  border: solid;
  border-width: thick;
  border-color: #223322;
  border-bottom: 0px;
  border-right: 0px;
  font-weight: bold;
}

div.supp_paper {
  display: block;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 40px;
  font-weight: bold;
}

div.classdate {
  display: block;
  float: right;
  margin-top: 10px;
  font-style: italic;
  font-style: bold;
  background: #119966;
  padding: 5px;
}

div.viewed, div.passed {
  background: #fff;
  font-weight: normal;
  border-width: thin;
}

div.passed, div.passed a, div.passed a.visited {
  color: #494949;
}  

div.downloadlink {
  float: right;
  background: #00ccaa;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
}

/* User info */

span.anon_name {
   color: #119966;
}


/* Menus to hide by default */

div.improve, div.commentbox, div.questionbox, div.fig_sections, div.replyform, div.answerform, img.fullfig, div.class_options, td.sidebar, div.class_options {
  display: none;
}


