@charset "UTF-8";
body {
    margin: 0px;
    padding: 0px;
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

a {
    color: #63A82A;
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    font-family: FuturaBT-Heavy, Arial, Helvetica, sans-serif;
    color: #005997;
    font-weight: normal;
    margin-bottom: 5px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 14px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d1d5d8;
    padding-top: 5px;
    margin-bottom: 5px;
    clear: both;
}
h5 {
    margin: 0px;
    font-size: 11px;
}

p {
    padding: 0px;
    line-height: 15px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
img {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.editme, .editme_form, .editme_form form {
    display: inline;
}





#header, #footer, #labTable {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}
#contentSearch {
    margin-top: 55px;
}

.inputSearch {
    width: 300px;
}

.searchreset {
    color: gray;
    font-style: italic;
}



textarea, input [type = 'text'] {
    border: 1px solid #C7CBCF;
    padding: 0px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#utNav {
    height: 30px;
    float: right;
}
#utNav a {
    font-weight: bold;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    color: #000000;
    text-decoration: none;
    padding-bottom: 5px;
    float: right;
    line-height: 20px;
}
#header #utNav li {
    list-style-type: none;
}
#contentMain {
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 75px;
}
#paperInfo {
    border: 2px solid #91C859;
    text-align: center;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin: 0px;
}
#paperInfo p {
}
#paperInfo h1 {
    font-size: 24px;
    line-height: 24px;
    color: #155E3A;
    margin-right: 20px;
    margin-left: 20px;
}
#paperInfo h2 {
    font-size: 18px;
    color: #155E3A;
}
#paperInfo h4 {
    background-color: #9FCF67;
    color: #FFFFEE;
    margin-top: 10px;
    margin-bottom: 10px;

}
#paperInfo h4 a {
    color: #FFFFFF;
    text-decoration: underline;
}
#paperInfo a {
    color: #63a82a;
    text-decoration: none;
}
#profileInfo {
    border: 2px solid #005997;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin: 0px;
    height: 300px;
}
#profileInfo .profilePhoto {
    float: left;
    padding-right: 20px;
    margin-right: 5px;
}
.notes {
    font-style: italic;
    color: #666666;
}
#keyRight {
    float: right;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #666666;
}

#footerFloat {
    background-color: #005997;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-image: url(/images/bg_footer.gif);
}
#footer {
    font-size: 11px;
    color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

#footerNav a {
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    float: right;
}
#clearBoth {
    clear: both;
}

#profileInfo h2 {
    display: inline;
}

td#profileImage {
    text-align: center;
    width: 328px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CFD4D8;
}

#timestamp {
    line-height: 20px;
    margin-left: 25px;
    padding: 0px;
    font-style: italic;
}


/* Quick Style Elements */

.small {
    font-size: 11px;
    line-height: 13px;
}

.linklike {
    color: #63A82A;
    font-weight: bold;
}

.grey {
    color: #888;
}

.inline {
    display: inline;
}

.italic {
    font-style: italic;
}

.bold 	{
    font-weight: bold;
}

.plainSubmit {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.linkSubmit {
    background: none;
    border: none;
    color: #63A82A;
    font-size: inherit;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.round	{
    border-radius: 10px;
}

/* Lighten Icons */

icon {
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

/* Full Page Overlays */

.overlay {
    position: absolute;
    width: 100%;
    height: 5000px;
    z-index: 50;
    background: #fff;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* required for opacity to work in IE */
}

.lightbox {
    position:absolute;
    z-index:51;
    background: #fff;
    padding: 8px;
    border: 1px solid #9FCF67;
    text-align: center;
}

.lightbox i.icon-remove {
    float: right;
    cursor: pointer;
}

/* Search Results, also used for feeds on profile page */

.abstract_short, .abstract_long {
    line-height: 18px;
    font-size: 14px;
}

.search_results {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #8BD2F4;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-left: 30px;
}

.search_results2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #8BD2F4;
    color: #333333;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    text-align: left;
}
.search_results2 a {
    text-decoration: none;
    color: #666666;
    display: block;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
}



.sr_title   a {
    color: #63a82a;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
}

/* Feeds */


#homeFeed {
    margin: 0px;
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: #B5CFE3;
    padding-bottom: 20px;
}



#feedNav {
    margin: 0px;
}

#feedNav a {
    font-weight: bold;
    display: block;
    color: #000000;
    text-decoration: none;
}

#feedNav ul {
    padding: 0px;
    margin-bottom: 0px;
    -webkit-padding-start: 0px;
}

#feedNav li {
    list-style-type: none;
    display: inline-block;
    padding-top: 5px;
    line-height: 20px;
    vertical-align: bottom;
}



#feedNav .feed_nav_item {
    display: inline-block;
    text-align: center;
    padding: 5px;
    padding-bottom: 3px;
    color: white;
    background-color: #005997;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#feedNav .feed_nav_item form.button_to input {
    font-weight: bold;
}

#feedNav .feedPlus {
    width: 84px;
    padding: 3px;
    padding-top: 5px;
    font-weight: bold;
}

#feedNav .feed_nav_selected {
    color: #000;
    background-color: #fff;
}

#follow_form {
    padding: 10px;
}

.feedInfo {
    font-weight: bold;
    color: #005997;
}

.homePageFeed {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;

}

.feedNotice {
    position: relative;
    float: right;
    top: 6px;
}

.viewswitch {
    margin-left: 40px;
}



/* Sharing */



input#share_text {
    width: 390px;
    margin-top: 10px;
}

.sharebox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.share_form {
    left: 50%;
}

.sharetext {
    background: #e8e8e8;
    margin-left: 10px;
    padding: 2px;
    padding-left: 15px;
    margin-right: 100px;
}

.share_confirmation {
    display: block;
    margin-left: 10px;
    font-style: italic;
    color: #005997;
}


/* Share feed */

#shareFeed, #historyFeed {
    width: 450px;
    top: 25px;
    left: 50%;
}

.shareList {
    background-color: lightgray;
}

#shareFeed a, #historyFeed a {
    float: none;
    color: #63A82A;
    display: inline;
    padding: 0px;
    margin: 0px;
}

.bigquote {
    display: inline;
    font-size: 22px;
    font-weight: 0.5em;
}


.paper_nav {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: #00704A;
    line-height: 10px;
}

.paper_nav ul {
    display: block;
    margin: none;
    padding: none;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.paper_nav li {
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

.sr_title2 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: #00704A;
}

.sr_info2 {
    padding-right: 10px;
    margin-left: 10px;
}

.sr_info2 a {
    color: #63A82A;
    font-weight: bold;
    text-decoration: none;
}

.assertion_list {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D1D5D8;
    padding-top: 5px;
    margin-bottom: 5px;
}

.user_info {
    margin-left: 10px;
}

/* Notes and Folders */

.new_folder_submit {
    padding: 2px;
    display: inline;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 15px;
    position: relative;
    bottom: 5px;
}

input[type = 'text'].new_folder_text {
    width: 89px;
    margin-left: 10px;
    font-size: 9px;
    height: 12px;
}
/* Heatmaps */

#legend {

}


#legend div {
    height: 10px;
    font-size: 10px;
    line-height: 15px;
    width: 10px;
    border-style: solid;
    border-color: #D1D5D8;
    border-width: 1px;

}

#legend .legendWord {
    width: 80px;
    border-style: none;
    vertical-align: top;
    color: #005997;
    font-family: FuturaBT-Heavy, Arial, Helvetica, sans-serif;
}

#listMenu {
    float: right;
    font-size: 9px;
    line-height: 12px;
    text-align: right;
}

.heatTable {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.heatTable div {
    width: 40px;
    border-style: solid;
    border-color: #D1D5D8;
    border-width: 1px;
}


.heatTable td {
    text-align: center;
    vertical-align: middle;
    width: 25px;
}

.heatTable a {
    color: #000;
}

.heat0{
    background-color: #fff;
}

.heat1{
    background-color: #D1D6D8;
}
.heat2{
    background-color: #BED4E1;
}
.heat3{
    background-color: #A9D6EC;
}
.heat4{
    background-color: #8CD4F6;
}
.heat5{
    background-color: #94D2C7;
}
.heat6{
    background-color: #9CD098;
}
.heat7{
    background-color: #A0CF67;
}

.heat8{
    background-color: #C3D666;
}

.heat9{
    background-color: #E3DD64;
}

.heat10{
    background-color: #FFE564;
}

/* Nods */

.vote {
    display: inline;
    margin: 5px;
    color: #666;
    float: right;
    font-size: 11px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
    background-image: url(/images/vellum.png);
}

form.new_vote {
    display: inline;
}

/* Reaction Links */

.reactionlink {
    display: inline-block;
}

/* Comments and questions */


.commentbox, .questionbox {
    padding: 15px;
    padding-top: 5px;
    background: #fff;
    width: 500px;
}

.commentbox textarea, .questionbox textarea {
    width: 90%;
    height: 80px;
}

.commentbox h3, .questionbox h3 {
    margin-top: 0px;
}

.comment, .question {

    border-top: solid;
    border-width: 1px;
    border-color: #D1D5D8;
    margin-top: 10px;

}


td.comment_body, td.question_body {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D1D5D8;
    padding-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding-bottom: 10px;
}


.reply, .answer {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D1D5D8;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    margin-left: 40px;
}

.answer {
    padding-bottom: 30px;
}

.replyform, .answerform {
    margin-left: 40px;
}

.replyform textarea {
    width: 450px;
}

.qcomment {
    margin-left: 40px;
    margin-top: 5px;
    font-style: italic;
}

/* Quickforms (for quickly adding comments and questions) */


.quickform {
    border: 1px solid #025B98;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    height: 120px
}

.quickform ul {
    width: 630px;
}


.quickform .figSelector {
    float: left;
    text-align: left;
    font-size: 11px;
    margin-right: 50px;
}

.quickform .figSelector div {
    width: 120px;
}

.quickform .selectPaper {
    font-style: italic;

}

.quickform .selectFig {
    font-weight: bold;
    color: #fff;
    background: #3A87AD;
}


.quickform input#fig {
    width: 50px;
    font-size: 11px;
    color: gray;
    font-style: italic;
}

.quickform textarea {
    width: 60%;
    height: 80px;
}


/* Notices */

.flash {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #63A82A;
    margin-right: auto;
    border-bottom-right-radius: 10px;
    padding: 3px;
    width: 500px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
}
/* Classes related to javascript */

.hideonload {
    display: none;
}

.clickme {
    cursor: pointer;
}

.nomargin {
    margin: 0px;
}

.twomargin {
    margin: 0px;
}

.tenmargin {
    margin: 10px;
}

.nopadding {
    padding: 0px;
}
