@charset "UTF-8";
body {
	background-color: #005997;
	background-image: url(/images/bg_earth.gif);
}



#homeLogo {
	height: 190px;
	text-align: center;
	padding-top: 40px;
}
#homeSearch h1 {
	color: #000000;
	font-size: 22px;
}
#homeSearch {
	height: 300px;
	text-align: center;
	padding-top: 10px;
}
#homeSearch  .inputSearch {
	width: 320px;
	border: 1px solid #C7CBCF;
	padding: 0px;
	height: 20px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: italic;
}

#homeFeed {
	text-align: center;
	margin: 0px;
	margin-top: 30px;
	padding: 5px;
	border-radius: 10px;
	background-color: #B5CFE3;
	padding-bottom: 20px;

}

#homeFeed h1 {
	font-size: 24px;
	line-height: 24px;
	color: #155E3A;
	margin-right: 20px;
	margin-left: 20px;
}

#feedNav {
	margin: 0px;
}

#feedNav a {
	font-weight: bold;
	display: block;
	color: #000000;
	text-decoration: none;
}

#feedNav ul {
	padding: 0px;
	margin-bottom: 0px;
	-webkit-padding-start: 0px;
}

#feedNav li {
	list-style-type: none;
	display: inline-block;
	padding-top: 5px;
	line-height: 20px;
}



#feedNav .feed_nav_item {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	font-weight: bold;
	color: #fff;
	background-color: #005997;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#feedNav .feedPlus {
	width: 35px;
	padding: 2px;
}

#feedNav .feed_nav_selected {
	color: #000;
	background-color: #fff;
}

#follow_form {
	padding: 10px;
}

.feedInfo {
	font-weight: bold;
	color: #005997;
}

.homePageFeed {
	background-color: #fff;
}

