@charset "UTF-8";
body {
	background-color: #005997;
	background-image: url(/images/bg_earth.gif);
}



#homeLogo {
	text-align: center;
}
#homeSearch h1 {
	color: #000000;
	font-size: 22px;
}
#homeSearch {
	text-align: center;
}
#homeSearch  .inputSearch {
	width: 320px;
	border: 1px solid #C7CBCF;
	padding: 0px;
	height: 20px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: italic;
}


#iccr {

}

#temp_follow_form {
	text-align: center;
	padding-top: 30px;
	color: #fff;
}

#temp_follow_form h2 {
	color: #fff;
}

#temp_follow_form input[type=text] {
	width: 550px;
	height: 30px;
	font-size: 18px;
	margin-top: 10px;
}

#welcomeBox {
	background-color: rgba(226, 255, 203, .85);
	margin-left: 124px;
	top: 300px;
}

#welcomeBox h3 {
	color: black;
}

 .imageOverlayText {
	background-color: rgba(255, 255, 255, .8 );
	width: 365px;
	height: 90px;
	text-align: left;
	padding: 10px;
	margin-left: 125px;
	}

 .imageOverlayHeader {
	background-color: rgba(255, 255, 255, .8 );
	text-align: center;
	height: 25px;
	width: 700px;	
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	margin-left: 125px;
}

.homeSlides {
	text-align: center;
	height: 420px;
}

.homeSlides img {
	position: relative;
	bottom: 155px;
	z-index: -1;
}
