<% @feed.each do |item| %>
   <div class = "feeditem">
    <strong><%= item[0].firstname + ' ' + item[0].lastname.first + '.' %></strong> <%= item[1] %> <%= link_to item[2].title, item[2] %>
    <% unless item[3].nil? %>
     <div class = "feedquote">
       <%= link_to item[3], item[2] %>
     </div>
    <% end %>
    </div>
<% end %>
