<nav>
<ul>
<li><div class="updates round pad10">Updates</div></li>
<li><div class="most_viewed round pad10">Most Viewed</div></li>
<li><div class="sumreqs round pad10"><%= pluralize(@group.sumreq_feed.count, "Summary Request")%></div></li>
</ul>
</nav>
