<h1>All users</h1>

<%= link_to "Download CSV", users_path(format: "csv") %>

<%= paginate @users %>
<table><tdbody>
<tr><td><h3>Name</h3></td>
<td width = '100'><h3>Identity Check</h3></td>
<td width = '100'><h3>Signed up on</h3></td>
  <td width = '100'><h3>Days Btw Reg & Latest Visit</h3></td>
  <td width = '100'><h3>Papers Visited</h3></td>
  <td width = '100'><h3>Feeds Visited</h3></td>
<td width = '100'><h3>Actions Taken</h3></td>
<td width = '100'><h3>Nods Received</h3></td>
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</tbody></table>
<%= paginate @users %>
<br>
<br>
<br>
