<div id='aboutBox span5'>
<h2>It's time for open peer review.</h2>
 <p>
   <em >“If we accept that comments on the original report are important additions - be they criticisms, suggestions, or thoughts on the work’s implications - then we should want those addenda to be as visible and searchable as the work itself.”</em>
 </p>
<div class='grey text-right'>
     -Benjamin Smarr, PhD</div>
<dl>
  <dt>What is Journal Lab?</dt>
  <dd>Journal Lab is a database of figure-by-figure comments on published life sciences and biomedical research. Grad students and post-docs contribute by sharing the insights about published data that regularly occur in lab meetings, lunchroom discussions, and journal clubs.
  </dd>
  <dt>Why should I use Journal Lab?</dt>
  <dd>Participating in Journal Lab makes your workflow easier. At a glance we show you when there are new papers posted on Pubmed related to your interests and when there are new discussions about those papers. You can see others’ reactions experiences with a new paper’s methods, ask questions of the author, and leave insights that you feel are not yet represented. Summarizing papers and leaving comments is a great way to build name recognition in your field.</dd>
</dl>
</p>
</div>