<div id="howtoCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#howtoCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#howtoCarousel" data-slide-to="1"></li>
    <li data-target="#howtoCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag 'http://s3.amazonaws.com/j.lab-images/static/howto1.jpg' %>
      <div class="carousel-caption">
        <h4>Step 1: Track Pubmed</h4>
        <p>Enter 5-10 search terms that are relevant to your work. We’ll set up feeds to notify you when new, relevant papers are released on Pubmed and when relevant discussions happen on Journal Lab. You can manage relevant papers by putting them in folders, and we make it easy to grab the PDF.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'http://s3.amazonaws.com/j.lab-images/static/howto2.jpg' %>
      <div class="carousel-caption">
        <h4>Step 2: Join a Journal Club</h4>
        <p>Want more regular discussion? Join one of the online journal clubs run by members of the J.Lab community. It’s also easy to start your own, or create an online platform for your existing journal club.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'http://s3.amazonaws.com/j.lab-images/static/howto3.jpg' %>
      <div class="carousel-caption">
        <h4>Step 2: Find a discussion</h4>
        <p>Click in to a discussion and you’ll see a figure-level summary of a paper with figure-by-figure discussion. By focusing discussion on the data in each paper we make it easier to leave comments and keep our discussions scientifically relevant.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'http://s3.amazonaws.com/j.lab-images/static/howto4.jpg' %>
      <div class="carousel-caption">
        <h4>Step 2: Share your knowledge!</h4>
        <p>Click a button to give the gyst of your comment, then provide a more detailed explanation. Contributing takes seconds, and you can decide whether to remain anonymous or raise your profile.</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#howtoCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#howtoCarousel" data-slide="next">&rsaquo;</a>
</div>