<div id = "feedNav">
<ul>
<li><div class="updates feed_nav_item clickme">Nature</div></li>
<li><div class="feed_nav_item clickme">Cell</div></li>
<li><div class="feed_nav_item clickme">Science</div></li>
<li><div class="feed_nav_item clickme">PLoS One</div></li>
<li><div class="feed_nav_item clickme"><h5>Add Journal</h5></div></li>
</ul>
</div>
