
    <h1>About Us</h1>
      <h3>The Journal Lab is dedicated to improving dialog about published science.</h3>
    <p>
      Thank you for joining our early-stage experiment. We are working hard to help top-teir scientists:
      <ul>
        <li><strong>Read papers more efficiently.</strong></li>
        <li><strong>Share opinions about those papers.</strong></li>
        <li><strong>Benefit from the aggregated knowledge of experts in their field.</strong></li>
      </ul>
    </p>
    

