<% if @heatmap.count > 1 || @heatmap.first[1][1] > 0 %> 
<div class = 'overview_open clickme'>
<h4><img src="/images/arrow_open.gif" alt="open" width="15" height="15" class = 'hideonload'>
<img src="/images/arrow_closed.gif" alt="open" width="15" height="15" >
Heatmap</h4>
</div>
	<div class = 'hideonload'>
	<table id = 'legend'>
			<tr><td>
			<td><div class='legendWord'>High Discussion</div></td><td>		
			<div class='heat10'></div>
			</td><td>
			<div class='heat9'> </div>
			</td><td>
			<div class='heat8'> </div>
			</td><td>
			<div class='heat7'> </div>
			</td><td>
			<div class='heat6'> </div>
			</td><td>
			<div class='heat5'> </div>
			</td><td>
			<div class='heat4'> </div>
			</td><td>
			<div class='heat3'> </div>
			</td><td>
			<div class='heat2'> </div>
			</td><td>
			<div class='heat1'> </div>
			</td><td>
			<div class='heat0'></div>
			</td><td>
			<div class='legendWord'>Low Discussion</div>
			</td></tr>
		</table>
<table id = 'overview' class = 'heatTable'><tr>
<% @heatmap_overview.first.length.times do |i| %>
	<% @heatmap_overview.length.times do |h| %>
		<td> 
		<%= @heatmap_overview[h][i] ? "<a href = '##{@heatmap_overview[h][i][2]}'><div class='heat#{@heatmap_overview[h][i][1]}'>#{@heatmap_overview[h][i][0]}</div></a>".html_safe : ' '  %>
		</td>
	<% end %>
	</tr>
<% end %>
</table>
</div>
<% end %>
