<% if @heatmap.count > 1 || @heatmap.first[1][1] > 0 %> 
<%= render '/papers/legend' %>
<table id = 'overview' class = 'heatTable'><tr>
<% @heatmap_overview.first.length.times do |i| %>
	<% @heatmap_overview.length.times do |h| %>
		<td> 
		<%= @heatmap_overview[h][i] ? "<a href = '##{@heatmap_overview[h][i][2]}'><div class='heat#{@heatmap_overview[h][i][1]}'>#{@heatmap_overview[h][i][0]}</div></a>".html_safe : ' '  %>
		</td>
	<% end %>
	</tr>
<% end %>
</table>
<% end %>
