<h1>Search Results</h1>

  <%= paginate @search_results %>

<% if !@history_results.empty? %>
    <h4>Papers You've Visited</h4>
    <% @history_results.each do |result| %>
        <div class = "search_results">
          <%= render 'list', :paper => result %>
        </div>
    <% end %>

    <h4>All other papers</h4>
<% end %>
<% if @search_results.empty? %>
    <div style = "margin-left:20px;">
      <h3>No search results on pubmed, are you sure that you entered your search correctly?</h3>
    </div>
<% else %>
<% @search_results.each do |result| %>
    <div class = "search_results">
      <%= render 'list', :paper => result %>
    </div>
<% end %>

<%= paginate @search_results %>
<br>
<br>
