<h2>Congratulations! Your Journal Lab account is ready to go!</h2>
<h3>You’re all set to find papers faster, see which ones are hot, and share your insights with the community.</h3>

<h3>What is Journal Lab?</h3>

Journal Lab is building the world’s first comprehensive database of figure-by-figure comments on published biomedical research. By integrating into the workflow of grad students and post-docs, we’re able to capture and aggregate the insights about published data that regularly occur in lab meetings, lunchroom discussions, and journal clubs. Our goals are to make it simple to see what experts (like you) think about cutting edge published work in their field, to archive the experiences of researchers in reproducing published work, and to generate an enhanced and more efficient method for finding relevant and reproducible publications.

<h3>How do I use the database?</h3>

<p>

<strong>1) Set up your feeds</strong><br>
Create a feed for all of your favorite Pubmed search terms to stay up-to-date on new publications and discussions. Remember, the more feeds you create, the greater likelihood you’ll start getting insights from other researchers, and the better the database’s search algorithm will be tailored to your interests.
</p>
<p>
<strong>2) Leave an insight about the next paper you read.</strong><br>
It takes about 90 seconds and other people following that paper will see it and start a discussion!
</p>
This process is called post-publication peer-to-peer review, and with it, we can change how science is communicated, and save all of us precious time and resources.  We’re not replacing the publishing system - we’re planting on top of it. Research is organic, Scientists are organic, Ideas are organic, it’s time for Publications to be organic.
