<h2>Congratulations! Your Journal Lab account is ready to go!</h2>
<h3>You’re all set to find papers faster, see which ones are hot, and share your insights with the community.</h3>

<h3>Up-to-date : At-a-glance</h3>
<p><b>If you haven’t already, set up your feeds.</b> What do you normally search for on Pubmed? How many other terms would you search for if it took zero extra time? Seven? Forty-two? Three hundred one? No problem.<br> 
Just create a tab for each, and whenever you’re curious, log into your Journal Lab home page. With just one glance you’ll see if there are new papers in any of your feeds, or new comments on old papers!</p>

<h3>Open Access Everything</h3>
<p>At Journal Lab, we’ve taken the published pdf, broken it down to it’s component parts, distilled what scientists care most about, and planted these seeds on-line to generate living documents. Now it’s up to you. Every paper on Pubmed has it’s own habitat on Journal Lab for archiving discussion between scientists like you!</br>
Think that paper is brilliant? Say so! Is it missing controls? We have a button for that. Want more people to read it? Summarize figures to bring the paper to the top of other’s feeds.<br>
Not only does the paper become more visible, but other scientists will love you for it and truly appreciate your insight! You can even link any figure in one paper to any figure in another paper to place the data in it’s proper ecosystem where it can grow and thrive. </p>

<h3>Contribute to the scientific community with all of your expertise</h3>
<p>This process is called post-publication peer-to-peer review, and the time to start using it is now. We’re not replacing the publishing system - we’re planting on top of it. Research is organic, Scientists are organic, Ideas are organic, it’s time for Publications to be organic.</p> 
