/* Universal Styling */

body {
    margin: 0px;
    padding: 0px;
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

a {
    color: #63A82A;
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    font-family: FuturaBT-Heavy, Arial, Helvetica, sans-serif;
    color: #005997;
    font-weight: normal;
    margin-bottom: 5px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 14px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d1d5d8;
    padding-top: 5px;
    margin-bottom: 5px;
    clear: both;
}
h5 {
    margin: 0px;
    font-size: 11px;
}

p {
    padding: 0px;
    line-height: 15px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
img {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.editme, .editme_form, .editme_form form {
    display: inline;
}





#header, #footer, #labTable {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}
#contentSearch {
    margin-top: 55px;
}

.inputSearch {
    width: 300px;
}

.searchreset {
    color: gray;
    font-style: italic;
}



textarea, input [type = 'text'] {
    border: 1px solid #C7CBCF;
    padding: 0px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#utNav {
    height: 30px;
    float: right;
}
#utNav a {
    font-weight: bold;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    color: #000000;
    text-decoration: none;
    padding-bottom: 5px;
    float: right;
    line-height: 20px;
}
#header #utNav li {
    list-style-type: none;
}
#contentMain {
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 75px;
}

/* Homepage */

#homepage #headline {
    font-size:30px;
    font-color: #000;
    text-decoration: none;
    margin: 20px 0 10px 30px;
}

#homepage #headlineDetail {
   font-size: 12px;
   margin-bottom: 20px;
}

#homepage #homeMenu .nav {
   border-bottom: 0px;
   margin: 0px 5px 0 5px;
}

#homepage #homeMenu .box {
    margin-bottom: 10px;
    padding: 10px;
    height: 333px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}



#discussionCarousel .carousel-control,
#howtoCarousel .carousel-control{
    top: 50%;
}


#discussionCarousel .carousel-inner{
    margin: 40px;
    width: 85%;
}

#howtoCarousel .carousel-inner{
    margin:00px;
}

#discussionCarousel .carousel-inner .item{
    width: 460px;
    height:300px;
}

#howtoCarousel .carousel-inner .item{
    height:335px;
}

#discussionCarousel .carousel-inner .item a {
    text-decoration: none;
    color: #000;
}

#discussionCarousel .paperTitle {
    margin-bottom: 10px;
    font-size: 20px;
    color: #000;
}

#homepage h1 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #000;
}



#discussionCarousel .paperDiscussion {
    float: right;
    margin-top: 20px;
}

#discussionCarousel .paperDiscussion.wide {
    width: 95%;
}

#discussionCarousel .paperDiscussion.narrow {
    width: 55%;
}



#discussionCarousel .paperDiscussion .reactions {
    border: 0px;
    margin-bottom: 20px;
}

#homepage #register {
    margin-top: 18px;
    margin-bottom: 10px;

}

#homepage #register h2 {
line-height: 21px;
margin-bottom: 12px;
margin-top: 0px;
border-bottom: 1px solid #ddd;
}

#homepage #featureCallouts {
    text-align: center;
    margin-bottom: 30px;

}

#homepage #featureCallouts .feature {
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;

}


/* About Page */

#about .slide {
    width: 700px;
    height: 400px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

}

#about #description {
    width: 600px;
    display: inline-block;
    margin-bottom: 20px;
}

#about #features {
    margin: 15px;
}

#about #partnerships {
    float: right;
    display: inline-block;
}

#about #caption {
    text-align: right;
    margin-top: 300px;
    margin-right: 10px;
    color: white;
}

#about #caption a {
    color: white;
}

/* Footer */



#footerFloat {
    background-color: #005997;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 24px;
    background-image: url(/assets/bg_footer.gif);
}
#footer {
    font-size: 13px;
    color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

#footerNav a {
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    float: right;
}

/* Classes related to javascript */

.hideonload {
    display: none;
}

.clickme {
    cursor: pointer;
}

.nomargin {
    margin: 0px;
}


.tenmargin {
    margin: 10px;
}

.nopadding {
    padding: 0px;
}



/* Quick Style Elements */

.small {
    font-size: 11px;
    line-height: 13px;
}

.linklike {
    color: #63A82A;
    font-weight: bold;
}

.grey {
    color: #888;
}

.inline {
    display: inline;
}

.italic {
    font-style: italic;
}

.bold 	{
    font-weight: bold;
}

.plainSubmit {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.linkSubmit {
    background: none;
    border: none;
    color: #63A82A;
    font-size: inherit;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.round	{
    border-radius: 5px;
}


/* Lighten Icons */

icon {
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

img.icon {
    width: 14px;
    height: 14px;
    opacity: 0.6;
}

/* Full Page Overlays */

.overlay {
    position: absolute;
    width: 100%;
    height: 5000px;
    z-index: 50;
    background: #fff;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* required for opacity to work in IE */
}

.lightbox {
    position:absolute;
    z-index:51;
    background: #fff;
    padding: 8px;
    border: 1px solid #000;
    text-align: center;
}

.lightbox i.icon-remove {
    float: right;
    cursor: pointer;
}

/* Notices */

.flash {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #63A82A;
    margin-right: auto;
    border-bottom-right-radius: 10px;
    padding: 3px;
    width: 500px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
}

.flash.error {
    background-color: rgb(168, 42, 42);
}