/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#citation {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
}

img.icon {
    width: 14px;
    height: 14px;
    opacity: 0.6;
}