<div class="step0">
  <div class="row">
    <div class="span6">
      <h2>Let's get you started...</h2>
      <ul>
      <li><strong>Journal Lab works best</strong> when you use it to track new research on PubMed.</li>
        <li>Try entering a term that is relevant to your research to create a feed.</li>
        <li>We’ll update this feed in <div class = "badge badge-warning inline">yellow</div> when there are new papers posted on PubMed.</li>
        <li>We’ll update this feed in <div class = "badge badge-important inline">red</div> when there’s new discussion about those papers.</li>
        <li>You can also manage your feeds by clicking
        <div class="feedPlus feed_nav_item clickme">
          Add/Remove
        </div></li>
      </ul>
      <strong>Let's start by creating 5 feeds:</strong>
      <br>
      <br>

    </div>
  </div>


  <div class="row">
    <div class="span4">
      <%= render '/feed/follow_form' %>
    </div>
  </div>
  </div>
</div>
