<div id="footerFloat">
<div id="footer">
<div id="footerNav"><%= link_to "About", about_path %>   <%= link_to "Feedback", 'http://jlab.uservoice.com' %></div>
© 2012 Journal Lab, San Francisco, CA.</div>
</div>
</div>

